@model IEnumerable<spider.AdvantageModels.InvoiceHeader>;

@if(Model is not null)
{
  
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <td><input type="checkbox" onclick="SetAllCheckBoxesInvoices(this)"></input></td>
                <th >Дата отгрузки</th>
                <th >Номер</th>
                <th >Имя</th>
                <th >Адрес</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {
                <tr>
                  <td><input  id="checkboxes" type="checkbox" name="invoices" id=@item.UniqueId value=@item.UniqueId.Replace(" ","_")></input></td>
                  <td>@item.ShipmentDate</td>
                  <td>@item.UniqueId</td>
                  <td>@item.CounterpartyName</td>
                  <td>@item.CounterpartyAddress</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
}