@model InvoicePartialModel;
@if(Model is not null)
{

  
        <div class="container zero-space">
          <table class="table  table-success table-striped table-hover" style="table-layout:fixed">
            <thead>
              <tr>
                @if(Model.isTodayInvoices)
                {
                  <td><input type="checkbox" onclick="SetAllCheckBoxesTodayInvoices(this)"></input></td>
                  }
                else 
                {
                  <td><input type="checkbox" onclick="SetAllCheckBoxesOtherInvoices(this)"></input></td>
                  }
                <th >Дата отгрузки</th>
                <th >Номер</th>
                <th >Имя</th>
                <th >Адрес</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model.Invoices)
              {
                <tr id = "invoice-card">
                  <td><input type="checkbox" name="invoices" id=@Model.Id value=@item.UniqueId.Replace(" ","_")></input></td>
                  <td id = "qwer" >@item.ShipmentDate</td>
                  <td>@item.UniqueId</td>
                  <td id = "counterparty-name">@item.CounterpartyName</td>
                  <td id ="counterparty-address" style="overflow-wrap:break-word">@item.CounterpartyAddress</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
}