@page
@using Microsoft.AspNetCore.Mvc.Localization
@using spider.Localization
@using Volo.Abp.Users
@using spider.Products;
@model spider.Web.Pages.IndexModel
@inject IHtmlLocalizer<spiderResource> L
@inject ICurrentUser CurrentUser

<div class="container">
    @if (ViewData["Error"] is not null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    }
    <div class="p-4 text-center">
        <h2>
            <i>
                «Деньги дороги, жизнь человеческая дороже, а время дороже всего»
            </i>   
        </h2>
        <br/>

        <div class="col float-end">
            <form method="post" asp-page="IndexModel" asp-page-handler="Invoices">
                <button class="btn btn-outline-primary" style="position:fixed">
                    Загрузить список машин
                    </button>
            </form>

            <br /><br />

            <a href="./RoutesList" class="btn btn-outline-success" style="position:fixed">
                Последний результат
            </a>

            <br /><br />

            <button class="btn btn-outline-warning" style="position:fixed" type="submit" form="table">
                Отправка в Яндекс
            </button>

            <br /><br />

            <a href="./History"  class="btn btn-outline-info" style="position:fixed">
                История запросов
            </a>

        </div>

        
        @await Html.PartialAsync("../Views/shared/_partialCars",Model._cars)
        
    </div>
</div>
