@page
@using Microsoft.AspNetCore.Mvc.Localization
@using spider.Localization
@using Volo.Abp.Users
@using spider.Products;
@model spider.Web.Pages.IndexModel
@inject IHtmlLocalizer<spiderResource> L
@inject ICurrentUser CurrentUser
<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>

  <div class="preloader">
    <div class="preloader__image"></div>
  </div>

  <div class="loader">
    <div class="loading d-flex justify-content-center"></div>
  </div>

  @if (ViewData["Error"] is not null)
    {
      <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
      </div>
    }
  @if (TempData["info"] is not null)
    {
      <div class="alert alert-success row" 
        alert-dismissible fade show" role="alert">
        <strong class="col">@Html.Raw(TempData["info"])</strong>
          <button type="button" class="btn-close d-flex justify-content-end" 
            data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
    <div class="p-4 text-center">
      <h2>
        <i>
          «Деньги дороги, жизнь человеческая дороже, а время дороже всего»
        </i> 
      </h2>
    </div>

     <br/>  <!-- FIXME -->

    <div class="col float-end">
      <form method="post" asp-page="IndexModel" asp-page-handler="Invoices">
        <button class="btn btn-outline-primary" style="position:fixed" onclick="spinner()">
          Загрузить список машин
        </button>
      </form>

                <br /><br /> <!-- FIXME -->

      <a href="./RoutesList" class="btn btn-outline-success" style="position:fixed">
        Последний результат
      </a>

                <br /><br />  <!-- FIXME -->

      <button class="btn btn-outline-warning" style="position:fixed" type="submit" form="table" onclick="spinner()">
        Отправка в Яндекс
      </button>

              <br /><br />  <!-- FIXME -->

      <a href="./History"  class="btn btn-outline-info" style="position:fixed">
        История запросов
      </a>

    </div>

     <!-- START BLOCKS-->

  <section class="split">
    <form method="post" asp-page="IndexModel" asp-page-handler="Routes" id="table">
    <div class="container-fluid zero-space px-0">
      <div class="row g-0">
        <div class="col-lg-7 vh-100 ">
          <div class="input-group mb-1">
              <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-invoices" placeholder="Поиск накладных...">
            </div>
          <div class="row invoice-height vert-scroll mb-4">
            

            <div class="container container-fluid vh-50 " name="todayInvoices">
                @await Html.PartialAsync("../Views/shared/_partialInvoice",new InvoicePartialModel(){Invoices=Model.Invoices,isTodayInvoices=true})
                          <script src="~/site.js" asp-append-version="true"></script>
              </div>
            </div>

            <div class="row invoice-height vert-scroll">
              <div class="container container-fluid vh-50" name="otherInvoices">
                @await Html.PartialAsync("../Views/shared/_partialInvoice",new InvoicePartialModel(){Invoices=Model.lastInvoices,isTodayInvoices=false})
                  <script src="~/site.js" asp-append-version="true"></script>
              </div>
            </div>
            
          </div>

          <div class="col-lg-5 vh-100  vert-scroll">
            <div class="row">
              <div class="col-md-5 mx-auto">
                    <div class="input-group mb-1">
                        <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-box" placeholder="Поиск машин...">
                    </div>
                </div>
                <div class="col-md-auto">
                  <input id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)" /> 
                </div>  
              @await Html.PartialAsync("../Views/shared/_partialCars",Model._cars)
                    <script src="~/site.js" asp-append-version="true"></script>
            </div>
          </div>
        </div>

      </div>
    </form>
    </section>

</div>
