@page
@using Microsoft.AspNetCore.Mvc.Localization
@using spider.Localization
@using Volo.Abp.Users
@using spider.Products;
@model spider.Web.Pages.IndexModel
@inject IHtmlLocalizer<spiderResource> L
@inject ICurrentUser CurrentUser
<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>



  
      @if (ViewData["Error"] is not null)
      {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
      }
      <div class="p-4 text-center">
        <h2>
          <i>
            «Деньги дороги, жизнь человеческая дороже, а время дороже всего»
          </i> 
        </h2>
      </div>
      <div class="preloader">
        <div class="preloader__image"></div>
      </div>
      <div class="loader">
        <div class="loading d-flex justify-content-center">
        </div>
      </div>
      <br/> 

        <div class="col float-end">
          <form method="post" asp-page="IndexModel" asp-page-handler="Invoices">
            <button class="btn btn-outline-primary" style="position:fixed" onclick="spinner()">
              Загрузить список машин
            </button>
          </form>

                <br /><br />

          <a href="./RoutesList" class="btn btn-outline-success" style="position:fixed">
            Последний результат
          </a>

                <br /><br />

          <button class="btn btn-outline-warning" style="position:fixed" type="submit" form="table" onclick="spinner()">
            Отправка в Яндекс
          </button>

                <br /><br />

          <a href="./History"  class="btn btn-outline-info" style="position:fixed">
            История запросов
          </a>

        </div>

     <!-- START BLOCKS-->

    <section class="split">

      <div class="container-fluid px-0">
        <div class="row g-0">
          <div class="col-lg-6 vh-100 ">
           <!-- <div class="container-lg justify-content-start"  name="invoices"> -->
            <div class="row test" style="overflow-y:scroll;">
              <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-invoices" placeholder="Поиск накладных...">
                        <span>
                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        </span>
                    </div>
              <div class="container bg-danger vh-50" name="todayInvoices">
                @await Html.PartialAsync("../Views/shared/_partialInvoice",Model._invoices)
                          <script src="~/site.js" asp-append-version="true"></script>
              </div>
            </div>
            <div class="row test" style="overflow-y:scroll;">
              <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-invoices" placeholder="Поиск иных накладных...">
                        <span>
                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        </span>
                    </div>
              <div class="container bg-success vh-50" name="otherInvoices">
                @await Html.PartialAsync("../Views/shared/_partialInvoice",Model._invoices)
                          <script src="~/site.js" asp-append-version="true"></script>
              </div>
            </div>
           <!-- </div>  -->
          </div>
          <div class="col-lg-6 vh-100 bg-primary" style="overflow-y:scroll; overflow-x:hidden;">
            <div class="row">
              <div class="col-md-5 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-box" placeholder="Поиск машин...">
                        <span>
                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-auto">
                  <input id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)" /> 
                </div>  
              @await Html.PartialAsync("../Views/shared/_partialCars",Model._cars)
                    <script src="~/site.js" asp-append-version="true"></script>
            </div>
          </div>
        </div>
        <div class="row g-0">
          
        </div>
      </div>

    </section>

      
      @* <div class="container-lg justify-content-end" name="drivers">
        <div class="row">
              <div class="col-md-5 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-box" placeholder="Поиск машин...">
                        <span>
                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-auto">
                  <input id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)" /> 
                </div>  
              @await Html.PartialAsync("../Views/shared/_partialCars",Model._cars)
                    <script src="~/site.js" asp-append-version="true"></script>
            </div>
      </div> *@
  

</div>
