@page
@using Microsoft.AspNetCore.Mvc.Localization
@using spider.Localization
@using Volo.Abp.Users
@using spider.Products;
@model spider.Web.Pages.IndexModel
@inject IHtmlLocalizer<spiderResource> L
@inject ICurrentUser CurrentUser

<div class="container">
  @if (ViewData["Error"] is not null)
    {
      <div class="alert alert-danger" role="alert">
          @ViewData["Error"]
      </div>
    }
    <div class="p-4 text-center">
      <h2>
        <i>
          «Деньги дороги, жизнь человеческая дороже, а время дороже всего»
        </i> 
      </h2>
    </div>
    <div class="row">
         <div class="col-md-5 mx-auto">
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill"  type="search" id="search-box" placeholder="Поиск машин...">
                <span>
                    <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" id="toggleAll" type="button" onclick="SetAllCheckBoxes(this)">
                        <i class="fa fa-check-circle-o"></i>
                    </button>
                </span>
            </div>
        </div>
        @* <div class="col-md-auto">
          <input id="toggleAll" type="checkbox" onclick="SetAllCheckBoxes(this)" />
        </div>   *@
    </div>
    
       
    <br/>

    <div class="col float-end">
      <form method="post" asp-page="IndexModel" asp-page-handler="Invoices">
        <button class="btn btn-outline-primary" style="position:fixed">
          Загрузить список машин
        </button>
      </form>

            <br /><br />

      <a href="./RoutesList" class="btn btn-outline-success" style="position:fixed">
        Последний результат
      </a>

            <br /><br />

      <button class="btn btn-outline-warning" style="position:fixed" type="submit" form="table">
        Отправка в Яндекс
      </button>

            <br /><br />

      <a href="./History"  class="btn btn-outline-info" style="position:fixed">
        История запросов
      </a>

    </div>
        @await Html.PartialAsync("../Views/shared/_partialCars",Model._cars)
            <script src="~/site.js" asp-append-version="true"></script>
    </div>
</div>
