@page
@using spider.Web.Pages;
@model RouteModel;
@{
    <h1 class="text-center">Поездка</h1>
    <br />
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 g-4">
            @foreach (var item in Model.route)
            {
                if (item.node.type == "depot") continue;
                <div class="col">
                    <div target="_blank" class="card h-100">
                        <div class="card-header">
                         @Model.clients.Where(x=>x.codeFromBase==@item.node.value.id).FirstOrDefault().name
                        </div>
                        <div class="card-body">
                            @item.node.used_time_window
                        </div>          
                    </div>
                </div>
            }
        </div>
    </div>

}
