@page
@model spider.Web.Pages.RoutesListModel
@section scripts
{
    <abp-script src="/Pages/RoutesList.js" />
}
@{
    int i = 0;
    if (Model.routes.message == "Task is running and available for polling")
    {
        <div class="estimate">
            <h3>Задача ещё не решена, сколько ждать можно узнать ниже</h3>
            <a href="https://yandex.ru/courier/companies/31415/depots/all/mvrp/@Model.routes.id" class="btn btn-outline-warning" target="_blank">Перейти в Яндекс</a>
        </div>
    }
    if(Model.routes.result is not null)
    {
        <h1 class="text-center">Путевые листы</h1>
            <br /> //FIXME
        <div class="col float-end">
            <a href="https://yandex.ru/courier/companies/31415/depots/all/mvrp/@Model.routes.id"
            class="btn btn-outline-warning" target="_blank">
                Перейти в Яндекс
            </a>
            @if (Model.routes.result.routes.All(s => s.vehicle_driver is not null))
            {
                <form method="post" asp-page="RoutesList" asp-page-handler="TextFile" asp-route-id=@Model.routes.id>
                    <button class="btn btn-outline-primary">Создать файл</button>
                </form>
            }
        </div>

        <div class="container">
            <div class="row row-cols-4 g-2">
                @foreach (var item in Model.routes.result.routes)
                {
                    <div class="col">
                       <div class="card">
                            <div class="card-header">
                                <p class="card-title">@Model.routes.result.vehicles.Find(x=>x.id==item.vehicle_id).car_name</p>
                                @if(item.vehicle_driver is null)
                                {
                                  <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"  data-bs-toggle="dropdown">
                                      Назначить водителя
                                      <span class="caret"></span>
                                    </button>
                                      <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                                        <input class="form-control p-0" id="myInput" type="text" placeholder="Поиск..">
                                          @foreach(var driver in Model.drivers)
                                            {
                                              <li>
                                                <a asp-page="RoutesList" 
                                                  asp-page-handler="ChangeName"
                                                  asp-route-id=@item.vehicle_id
                                                  asp-route-yandex_id=@Model.routes.id
                                                  asp-route-name=@driver.name>
                                                  @driver.name
                                                </a>
                                              </li>
                                            }
                                      </ul>
                                  </div>
                                }
                                else
                                {
                                  <p class="card-subtitle">@item.vehicle_driver
                                    <a asp-page="RoutesList"
                                      asp-page-handler="DeleteName"
                                      asp-route-yandex_id=@Model.routes.id
                                      asp-route-id=@item.vehicle_id
                                      class="btn btn-outline-danger fa fa-close">
                                    </a>
                                  </p>
                                }
                            </div>
                            <div class="card-body">
                              <form method="post" asp-page="RoutesList" asp-route-id=@i asp-page-handler="Routes">
                                <button class="btn btn-outline-primary">Подробнее о маршруте</button>
                              </form>
                            </div>
                       </div>
                    </div>
                    i++;
                }
            </div>
        </div>

    }
}
