/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
    
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

    * {
        scrollbar-width: thin;
        scrollbar-color: grey, white; 
    }

    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
        /* border: 3px solid grey; */
    }

.estimate {
    margin: 5vh 5vh 5vh 5vh;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

/* For preloader */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('preloader.gif') no-repeat 50% 50%; 
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


* {
  margin: 0;
  padding: 0;
}

/* For spinner */

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 4;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: blue;
  border-left-color: blue;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* For Invoice height section */
.invoice-height{
  height: 50vh !important;
}

/* For Scroll on IndexPage */
.vert-scroll
{
  overflow-y:scroll;
  overflow-x:hidden;
}

.zero-space
{
  padding: 0 0 0 0;
}